<ul class="nav">
    <a class="wildcircus ml-2" style="text-decoration: none" href="{{ path('home') }}"><h1>Wild Circus</h1></a>
    <li class="nav-item mt-2">
        <a class="nav-link active ml-5" href="{{ path('circus') }}">The circus</a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link" href="{{ path('ticket_index') }}">Tickets</a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link" href="{{ path('gallery_photo') }}">Photo gallery</a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link" href="{{ path('event_index') }}">Events</a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link" href="{{ path('artist_index') }}">Artists</a>
    </li>
    <li class="nav-item mt-2">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
    </li>

    {% if app.user %}
        <a class="nav-link mt-2" href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a class="nav-link mt-2" href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}
</ul>

